#area {
	position:relative;
	width: 600px;
	height: 400px;
	background-image: url("http://i.imgur.com/ALw7ppk.jpg");
}

.squares {

}
.square-wrapper {
	width: 60px;
	height: 60px;
	float: left;
	position: relative;
	margin-right: 10px;
	margin-top: 7px;
	margin-bottom: 10px;
}

.square-wrapper2 {
	width: 60px;
	height: 110px;
	float: left;
	position: relative;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.square {
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.row {
	clear: left;
}

/*.rose {
	position: absolute;
	top: 0; 
	left: 0;
	right: 0; 
	bottom:0;
	margin: auto; 
}*/

.square.dragging {
	border: 2px solid #FFF;
}

.size_btn {

}